<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmyelead.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <a th:href="@{/clubs/add}">Create</a>
        <form th:action="@{/clubs/search}" method="get">
            <input type="search" name="query" placeholder="Search clubs"/>
        </form>
    </div>

    <div th:each="club :${clubs}">
        <img th:src="${club.imageUrl}" th:alt="${club.title}"/>
        <p th:text="${club.title}"></p>
        <a th:href="@{/clubs/{id}(id=${club.id})}">View</a>
        <a th:href="@{/clubs/edit/{id}(id=${club.id})}">Edit</a>
    </div>
</body>
</html>