<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmyelead.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <img th:src="${event.photoUrl}" th:alt="${event.name}"/>
  <p th:text="${event.name}"></p>
  <p th:text="${event.type}"></p>
  <span th:text="${event.startTime}"></span>
  <span th:text="${event.endTime}"></span>
  <div th:if="${user.id} == ${club.createdBy.id}">
    <a th:href="@{/events/delete/{id}(id=${event.id})}">Delete</a>
  </div>
</div>
</body>
</html>